.cityPopUp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;

  &.visibilityChange {
    visibility: visible;
  }
}

.cityListContainer {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeX {
    position: absolute;
    top: 18px;
    left: 18px;
    z-index: 100;
    font-size: 4.5rem;
    color: $black;
    cursor: pointer;

    transform: scale(1);
    transition: all 0.4s;

    &:hover {
      transform: scale(1.2);
    }
  }

.cityList {
  width: 100%;
  max-height: 75vh;
  background: $white;
  padding: 2% 0 3%;
  border: 5px solid $white;
  
  font-family: "Campton Semibold", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  overflow-y: auto;
  overflow-x: hidden;

  opacity: 0;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  transition: opacity 0.5s;

  &.opacityChange {
    opacity: 1;
    &.fadeBlack {
      border-width: 0;
      background: transparent;
    }
  }

  li {
    width: 100%;
    color: transparent;
    font-family: "Campton Semibold", sans-serif;
    letter-spacing: 1px;
    margin: 0 auto;
    text-transform: lowercase;
    transform: scale(1);
    transition: opacity 0.3s;
    opacity: 1;
    -webkit-text-stroke: 1.4px $black;
    
    &.fadeOutCity {
      opacity: 0;
    }

    &.selectedCity {
      color: $white;
      transform: scale(1.08); 
      transition: all 0.8s;
      opacity: 1;
      cursor: default;
      font-size: calc(3.2rem + (60 - 32) * (100vw - 320px) / (1280 - 320));
  
      &:hover {
        color: $white;
        transform: scale(1.2);
        cursor: default;
      }
    }
    

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      color: $black;
    }
  }
}