.cityName {
  height: 30%;
  margin-bottom: 30px;
  text-transform: lowercase;
  font-family: "Campton Semibold", sans-serif;

  @media (max-width: 670px) {
    padding: 0 5%;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 4.5rem;
    -webkit-text-stroke: 1px $black;
    color: transparent;

    @media (max-width: 1080px) {
      font-size: calc(3.2rem + (45 - 32) * (100vw - 320px) / (1080 - 320));
    }

    @media (max-width: 670px) {
      font-size: 4rem;
    }    
  }

  h3 {
    display: block;
    margin-top: -1rem;
    font-size: 5rem;
    color: $black;
    -webkit-text-stroke: none;
    
    line-height: 1;
    margin-top: 1px;

    @media (max-width: 1080px) {
      font-size: calc(3.2rem + (50 - 32) * (100vw - 320px) / (1080 - 320));
    }

    @media (max-width: 670px) {
      font-size: 4rem;
    }    

    span {
      position: relative;
      z-index: 10;
      margin-right: 10px;
      display: inline-block;

      &::after {
      content: '';
      display: block;
      width: 110%;
      height: 48%;
      background: #BAD8CA;
      position: absolute;
      z-index: 0;
      mix-blend-mode: multiply;
      top: 62%;
      left: -3%;
    }
    }
  }
}
