.cityPopUp {
  border: 3px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;

  &.visibilityChange {
    visibility: visible;
  }
}

.cityListContainer {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.closeX {
    position: absolute;
    top: 18px;
    left: 18px;
    z-index: 100;
    font-size: 4.5rem;
    cursor: pointer;
    color: $black;
    transform-origin: center center;
    transform: scale(0);
    transition: transform 0.3s;

    
    &.zoomIn {
      transform: scale(1);
      
      @media (max-width: 600px) {
        transform: scale(1) translate(-50%);
        color: $white;
        top: auto;
        bottom: -70px;
        left: 50%;
      }

      @media (max-width: 320px) {
        bottom: -63px;
      }

      &:hover {
        transform: scale(1.2);

        @media (max-width: 600px) {
          transform: scale(1.2) translate(-50%);
        }
      }
    }
  }

.cityList {
  width: 100%;
  max-height: 75vh;
  background: $white;
  padding: 2% 0 3%;
  border: 5px solid $white;
  
  font-family: "Campton Semibold", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  overflow-y: auto;
  overflow-x: hidden;

  opacity: 0;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  transition: opacity 0.5s;

  &.opacityChange {
    opacity: 1;
    &.fadeBlack {
      border-width: 0;
      background: transparent;
    }
  }
  
  li {
    font-size: 6rem;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s;

    @media (max-width: 1280px) {
      font-size: calc(2.4rem + (60 - 24) * (100vw - 320px) / (1280 - 320));
    }

    &.fadeOutCity {
      a {
        opacity: 0;
      }
    }

    &.selectedCity {
      a {
        cursor: default;
        color: $white;
        transform: scale(1.08); 
        opacity: 1;
        transition: all 0.8s;
        -webkit-text-stroke-width: 0;
      } 
    }
  }

  a {
    color: transparent;
    font-family: "Campton Semibold", sans-serif;
    letter-spacing: 1px;
    margin: 0 auto;
    text-transform: lowercase;
    transform: scale(1);
    -webkit-text-stroke: 1.4px $black;

    @media (max-width: 1280px) {
      font-size: calc(3.2rem + (60 - 32) * (100vw - 320px) / (1280 - 320));
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      color: $black;
    }
  }
}