.dashboard {
    background: white;
    color: $black;
    height: 100vh;
}

.dashboardWrapper {
    display: flex;
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    // border: 1px solid purple;

    a {
    text-decoration: none;
    color: $black;
    padding: 10px;
    }
}

.dashboardLeft,
.dashboardRight {
    margin: 30px 15px 0;
    width: 50%;
    height: calc(100% - 30px);
    // border: 2px solid tomato;
}

.dashboardRight {
  display: flex;
  flex-wrap: wrap;
}

.dashSection {
    // border: 2px solid green;
}

.cityName {
    height: 20%;
    margin-bottom: 30px;
    text-transform: lowercase;
    font-family: "Campton Semibold", sans-serif;

    h2 {
      font-size: 4.5rem;
      -webkit-text-stroke: 1px $black;
      color: transparent;
      
    }

    h3 {
      margin-top: -1rem;
      font-size: 6rem;
      color: $black;
      -webkit-text-stroke: none;
    }
}

// NEWS SECTION STYLING STARTS HERE
.news {
    overflow-y: auto;
    height: calc(80% - 30px);
    background: $darkGrey;
    // border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    .singleArticle {
      width: 50%;
      border-top: 1px solid black;
      
      img {
      filter: grayscale(100%);
      }
    }
}

// WEATHER SECTION STYLING STARTS HERE

.weather,
.dateTime {
  width: calc(50% - 15px);
  height: calc(50% - 15px);
  margin-bottom: 30px;
  background: $lightGrey;
}

.weather {
    display: flex;
    margin-right: 30px;
    div {
        width: calc(100% / 3);
    }
}

.cityPhoto {
  width: 100%;
  height: calc(50% - 15px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}