.dateTime {
  background: $lightGrey;
  font-size: calc(1.2rem + (14 - 12) * (100vw - 350px) / (1280 - 350));
  text-transform: lowercase;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;

  div {
    justify-content: center;
    align-items: center;

    @media (max-width: 1000px) {
      width: 50%;
      justify-content: space-between;
    }
    

    &:nth-of-type(1) {
      color: $black;
    }
  }

  & > div {
    @include for-small-laptops {
      height: 50%;
    }
  }

  & > div:first-child {
    @include for-small-laptops {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      height: 100%;
    }

    & > * {
      width: 100%;
    }
  }

  .date {
    font-size: calc(1.6rem + (20 - 16) * (100vw - 900px) / (1280 - 900));
  }

  h4 {
    font-size: 1.8rem;
  }
  .time {
    font-size: calc(3.2rem + (60 - 32) * (100vw - 320px) / (1280 - 320));
    color: transparent;
    font-family: $med;
    opacity: 1;
    -webkit-text-stroke: 1.4px $black;
    padding-bottom: 5%;
  }
}
