// GLOBAL VARIABLES
$black: #000;
$lightGrey: #dbdbdb;
$darkGrey: #c9c9c9;
$white: #e7e6e6;
$teal: #bad8ca;
$brightTeal: #94d3b4;

// FONTS
$med: "Campton Medium", sans-serif;
$semibold: "Campton Semibold", sans-serif;
$bold: "Campton Bold", sans-serif;

// MIXINS
@mixin wrapper($max-width: 1280px, $width: 85%, $margin: 0 auto) {
  max-width: $max-width;
  width: $width;
  margin: $margin;
}

@mixin flexCenter($wrap: wrap, $justify-content: center, $align-items: center) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin posAbsFullScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin for-laptops {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-small-laptops {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-mobile {
  @media (max-width: 500px) {
    @content;
  }
}

h1,
h2,
h3,
h4,
h5,
div,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
