body {
  position: relative;
  font-family: "Campton Medium", sans-serif;
}

header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: $black;
  text-align: center;
  transition: background 0.7s;
  
  .wrapper {
    @include wrapper;
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    // border: 1px solid red;

    @media (max-width: 480px) {
      width: 90%;
    }
  }

  h1 {
    font-family: "Campton Medium", sans-serif;
    font-size: 4.5em;
    letter-spacing: 1px;
    color: $white;
    width: 100%;
    margin-bottom: 1rem;
    animation-duration: 0.5s;

    position: relative;
    top: 0;
    transition: font-size 0.3s ease-out,
                top 0.6s 0.3s ease-out;

    @media (max-width: 1280px) {
      font-size: calc(3.2rem + (48 - 32) * (100vw - 320px) / (1280 - 320));
    }

    &.shiftUp {
      position: relative;
      top: -35%;
      font-size: 2.8rem;
      font-family: "Campton Medium", sans-serif;
    }

    &.transparent {
      -webkit-text-stroke: 1px $white;
      color: transparent;
      font-family: "Campton Bold", sans-serif;
    }
  }

  form {
    width: 100%;
  }

  input[type="text"] {
    width: 80%;
    border: 0;
    padding-bottom: 30px;
    background: transparent;
    border-bottom: 2px solid transparent;

    font-family: "Campton Bold", sans-serif;
    font-size: 10rem;
    letter-spacing: 1.5px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px $white;
    text-transform: lowercase;
    caret-color: $white;
    transition: border-bottom 0.3s, padding-bottom 0.3s;
    animation-delay: 0.5s;

    @media (max-width: 1280px) {
      font-size: calc(3.2rem + (100 - 32) * (100vw - 320px) / (1280 - 320));
    }

    @media (max-width: 480px) {
      font-family: "Campton Semibold", sans-serif;
      width: 100%;
      color: $white;
      -webkit-text-stroke-width: 0px;
    }
    
    &::placeholder {
      opacity: 0.5;

      @media (max-width: 480px) {
        font-family: "Campton Semibold", sans-serif;
        width: 100%;
        -webkit-text-stroke-width: 0px;
      }
    }

    &:focus {
      border-color: $white;
      padding-bottom: 2px;
    }
  }
  
  input[type="button"] {
    width: 1%;
    font-size: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
  }

  .searchHint {
    font-family: "Campton Medium", sans-serif;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    bottom: 5vh;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;

    &.showHint {
      opacity: 1;
    }

    &.hideHint {
      opacity: 0;
    }
  }
}