.news {
  overflow-y: auto;
  padding: 20px;
  background: $lightGrey;

  @include for-tablet {
    overflow-y: visible;
  }

  @include for-mobile {
    overflow-y: auto;
  }

  h4 {
    font-family: "Campton Semibold", sans-serif;
    font-size: 1.8rem;

    @media (max-width: 670px) {
      text-align: center;
    }
  }

  .newsArticleContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .singleArticle {
    cursor: pointer;
    width: 50%;
    border-top: 1px solid black;

    @media (max-width: 800px) {
      width: 100%;
    }

    h5 {
      font-size: 1.4rem;
      margin: 0.7rem 0;
    }

    p {
      font-size: 1.4rem;
      &.articleDate {
        margin-bottom: 5px;
        color: grey;
      }

      &.articleAbstract {
        color: lighten($black, 25%);
        margin: 0 0 0.5rem;
      }
    }

    .articleImage {
      max-height: 260px;
      overflow: hidden;
    }

    img {
      object-fit: cover;

      @media (max-width: 670px) {
        max-height: 40%;
      }
    }
  }
}
