.weather,
.dateTime {
  width: 100%;
  padding: 9% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  
  @media (max-width: 1000px) {
    padding: 0;
  }

  @include for-tablet {
    padding: 5% 0;
  }
}

.weather {
  margin-right: 30px;
  background: lighten($teal, 8%);
  font-size: 1.6rem;

  & > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @include for-small-laptops {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > div {
      flex: 1 1 33.33%;
    }
  }

  h4 {
    color: $black;
    margin-bottom: 5px;
  }

  .temp-info {
    @include for-small-laptops {
      flex: 1 1 25%;
    }

    @include for-tablet {
      flex: 1 1 33.33%;
    }

    @include for-mobile {
      flex: 1 1 20%;
    }
  }

  .temperature {
    font-size: calc(3.2rem + (60 - 32) * (100vw - 320px) / (1280 - 320));
    color: transparent;
    font-family: $med;
    opacity: 1;
    -webkit-text-stroke: 1.4px $black;
  }

  .weatherIcon {
    max-width: 30%;
    min-width: 100px;
    margin: 0 auto;

    @include for-small-laptops {
      min-width: 80px;
      max-width: 20%;
    }

    @media (max-height: 650px) {
      min-width: 60px;
      max-width: 20%;
    }

    @include for-tablet {
      max-width: 60px;
      max-width: 15%;
    }
  }
  div:nth-of-type(3) {
    h3 {
      margin-bottom: 5px;
    }
  }

  .sun-times {
    @include for-small-laptops {
      padding: 10px;
    }
  }
}
