.weather,
.dateTime {
  width: calc(50% - 15px);
  height: calc(50% - 15px);
  margin-bottom: 30px;
  background: $lightGrey;
}

.weather {
    display: flex;
    margin-right: 30px;
    div {
        width: calc(100% / 3);
    }
}

.weather {
    
    font-size: calc(1.2rem + (16 - 12)*(100vw - 350px)/(1280 - 350));
    color: rgb(93,93,93);
    text-align: center;
    h3 {
        color: $black;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2vh;
    }
    .temperature {
        // font-size: 6.8rem;
        font-size: calc(4rem + (68 - 40)*(100vw - 350px)/(1280 - 350));
        color: $black
        
    }
    .weatherIcon {
        object-fit: cover;
        padding: 20%;
    }
}