article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
div,
ul,
p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Campton Medium';
  src: url("assets/fonts/campton-medium/Campton-Medium.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/campton-medium/Campton-Medium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/campton-medium/Campton-Medium.woff2") format("woff2"), url("assets/fonts/campton-medium/Campton-Medium.woff") format("woff"), url("assets/fonts/campton-medium/Campton-Medium.ttf") format("truetype"), url("assets/fonts/campton-medium/Campton-Medium.svg#Campton-Medium") format("svg");
  /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Campton Semibold';
  src: url("assets/fonts/campton-semibold/Campton-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/campton-semibold/Campton-SemiBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/campton-semibold/Campton-SemiBold.woff2") format("woff2"), url("assets/fonts/campton-semibold/Campton-SemiBold.woff") format("woff"), url("assets/fonts/campton-semibold/Campton-SemiBold.ttf") format("truetype"), url("assets/fonts/campton-semibold/Campton-SemiBold.svg#Campton-SemiBold") format("svg");
  /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
}

img {
  width: 100%;
  display: block;
}

body {
  position: relative;
  font-family: "Campton Medium", sans-serif;
}

header {
  height: 100vh;
  background: #000;
  text-align: center;
  -webkit-transition: background 0.7s;
  transition: background 0.7s;
}

header .container {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header h1 {
  font-family: "Campton Semibold", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 37vh;
  width: 100%;
  font-size: 3.6rem;
  color: #fff;
  -webkit-transition: font-size 0.3s ease-out, top 0.8s ease-out;
  transition: font-size 0.3s ease-out, top 0.8s ease-out;
}

header h1.shiftUp {
  top: 5vh;
  font-size: 2rem;
}

header form {
  width: 100%;
}

header input {
  width: 80%;
  border: 0;
  margin-top: -10px;
  padding-bottom: 4px;
  background: transparent;
  border-bottom: 2px solid transparent;
  font-family: "Campton Semibold", sans-serif;
  font-size: 8rem;
  letter-spacing: 1.5px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  text-transform: lowercase;
  caret-color: #fff;
  -webkit-transition: border-bottom 1s, padding-bottom 1s;
  transition: border-bottom 1s, padding-bottom 1s;
}

header input::-webkit-input-placeholder {
  opacity: 0.5;
}

header input:-ms-input-placeholder {
  opacity: 0.5;
}

header input::-ms-input-placeholder {
  opacity: 0.5;
}

header input::placeholder {
  opacity: 0.5;
}

header input:focus {
  border-color: #fff;
  padding-bottom: 12px;
}

header input[type="button"] {
  width: 1%;
  font-size: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

header .searchHint {
  font-family: "Campton Medium", sans-serif;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

header .searchHint.showEl {
  opacity: 1;
}

header .searchHint.hideEl {
  opacity: 0;
}

.cityList {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

.cityList.revealPopUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cityOptions {
  list-style: none;
  font-family: "Campton Semibold", sans-serif;
  font-size: 4.5rem;
  background: #000;
  width: 85%;
  height: 80vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow-y: scroll;
}

.cityOptions li {
  width: 90%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.cityOptions li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cityOptions a {
  font-family: "Campton Medium", sans-serif;
  margin: 0 auto;
  text-transform: lowercase;
  color: transparent;
  -webkit-text-stroke: 1.3px #fff;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.cityOptions a:hover {
  cursor: pointer;
  color: #fff;
  -webkit-text-stroke: 0.8px #fff;
}

.dashboard {
  background: white;
  color: #000;
}

.dashboardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboardWrapper a {
  text-decoration: none;
  color: #000;
  padding: 10px;
}

.dashboardLeft, .dashboardRight {
  width: 50%;
  height: 100vh;
  border: 2px solid tomato;
}

.dashSection {
  border: 2px solid green;
}

.cityName {
  height: 20%;
}

.news {
  overflow-y: scroll;
  height: 80%;
  border: 2px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news .singleArticle {
  width: 50%;
  border-top: 1px solid black;
}

.news .singleArticle img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.weather {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weather div {
  width: calc(100% / 3);
}

.dateTime {
  height: 20%;
}

.cityPhoto {
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
}
/*# sourceMappingURL=styles.css.map */