@font-face {
  font-family: "Campton Medium";
  src: url("assets/fonts/campton-medium/Campton-Medium.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/campton-medium/Campton-Medium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/campton-medium/Campton-Medium.woff2") format("woff2"), url("assets/fonts/campton-medium/Campton-Medium.woff") format("woff"), url("assets/fonts/campton-medium/Campton-Medium.ttf") format("truetype"), url("assets/fonts/campton-medium/Campton-Medium.svg#Campton-Medium") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Campton Semibold";
  src: url("assets/fonts/campton-semibold/Campton-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/campton-semibold/Campton-SemiBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/campton-semibold/Campton-SemiBold.woff2") format("woff2"), url("assets/fonts/campton-semibold/Campton-SemiBold.woff") format("woff"), url("assets/fonts/campton-semibold/Campton-SemiBold.ttf") format("truetype"), url("assets/fonts/campton-semibold/Campton-SemiBold.svg#Campton-SemiBold") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Campton Bold";
  src: url("assets/fonts/campton-bold/Campton-Bold.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/campton-bold/Campton-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/campton-bold/Campton-Bold.woff2") format("woff2"), url("assets/fonts/campton-bold/Campton-Bold.woff") format("woff"), url("assets/fonts/campton-bold/Campton-Bold.ttf") format("truetype"), url("assets/fonts/campton-bold/Campton-Bold.svg#Campton-Bold") format("svg");
  /* Legacy iOS */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
div,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Campton Medium", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
  text-align: center;
  -webkit-transition: background 0.7s;
  transition: background 0.7s;
}

header .wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 480px) {
  header .wrapper {
    width: 90%;
  }
}

header h1 {
  font-family: "Campton Medium", sans-serif;
  font-size: 4.5em;
  letter-spacing: 1px;
  color: #e7e6e6;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  position: relative;
  top: 0;
  -webkit-transition: font-size 0.3s ease-out, top 0.6s 0.3s ease-out;
  transition: font-size 0.3s ease-out, top 0.6s 0.3s ease-out;
}

@media (max-width: 1280px) {
  header h1 {
    font-size: calc(2.6rem + (48 - 26) * (100vw - 320px) / (1280 - 320));
  }
}

@media (max-width: 480px) {
  header h1 {
    margin-bottom: 0;
  }
}

header h1.shiftUp {
  position: relative;
  top: -33%;
  font-size: 2.8rem;
  font-family: "Campton Medium", sans-serif;
}

@media (max-width: 1080px) {
  header h1.shiftUp {
    top: -35%;
  }
}

@media (max-width: 768px) {
  header h1.shiftUp {
    top: -36%;
  }
}

@media (max-width: 480px) {
  header h1.shiftUp {
    font-size: 2rem;
  }
}

header h1.transparent {
  -webkit-text-stroke: 1px #e7e6e6;
  color: transparent;
  font-family: "Campton Bold", sans-serif;
}

header form {
  width: 100%;
}

header input[type="text"] {
  width: 80%;
  border: 0;
  padding-bottom: 30px;
  background: transparent;
  border-bottom: 2px solid transparent;
  font-family: "Campton Bold", sans-serif;
  font-size: 10rem;
  letter-spacing: 1.5px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px #94d3b4;
  text-transform: lowercase;
  caret-color: #e7e6e6;
  -webkit-transition: border-bottom 0.3s, padding-bottom 0.3s;
  transition: border-bottom 0.3s, padding-bottom 0.3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@media (max-width: 1280px) {
  header input[type="text"] {
    font-size: calc(3.2rem + (100 - 32) * (100vw - 320px) / (1280 - 320));
  }
}

@media (max-width: 980px) {
  header input[type="text"] {
    width: 90%;
  }
}

@media (max-width: 480px) {
  header input[type="text"] {
    font-family: "Campton Semibold", sans-serif;
    width: 100%;
    color: #e7e6e6;
    -webkit-text-stroke-width: 0;
  }
}

header input[type="text"]::-webkit-input-placeholder {
  color: transparent;
  opacity: 0.5;
}

header input[type="text"]:-ms-input-placeholder {
  color: transparent;
  opacity: 0.5;
}

header input[type="text"]::-ms-input-placeholder {
  color: transparent;
  opacity: 0.5;
}

header input[type="text"]::placeholder {
  color: transparent;
  opacity: 0.5;
}

@media (max-width: 480px) {
  header input[type="text"]::-webkit-input-placeholder {
    color: #e7e6e6;
    opacity: 0.5;
    width: 100%;
  }
  header input[type="text"]:-ms-input-placeholder {
    color: #e7e6e6;
    opacity: 0.5;
    width: 100%;
  }
  header input[type="text"]::-ms-input-placeholder {
    color: #e7e6e6;
    opacity: 0.5;
    width: 100%;
  }
  header input[type="text"]::placeholder {
    color: #e7e6e6;
    opacity: 0.5;
    width: 100%;
  }
}

header input[type="text"]:focus {
  border-color: #e7e6e6;
  padding-bottom: 2px;
}

header input[type="button"] {
  width: 1%;
  font-size: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

header .searchHint {
  font-family: "Campton Medium", sans-serif;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

header .searchHint.showHint {
  opacity: 1;
}

header .searchHint.hideHint {
  opacity: 0;
}

.redo {
  position: absolute;
  font-size: 3rem;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #bad8ca;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.redo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #99c6b1;
}

.redo i {
  margin-left: 2px;
}

.dashboard {
  background: white;
  color: #000;
  height: 100vh;
}

.dashboardOff {
  display: none;
}

.dashboardWrapper {
  position: relative;
  padding: 3vw;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (minmax(80px, 1fr))[4];
      grid-template-rows: repeat(4, minmax(80px, 1fr));
      grid-template-areas: "cityName cityName weather dateTime" "news news weather dateTime" "news news cityPhoto cityPhoto" "news news cityPhoto cityPhoto";
  grid-auto-rows: minmax(80px, 1fr);
  grid-gap: 30px;
}

@media (max-width: 1000px) {
  .dashboardWrapper {
        grid-template-areas: "cityName cityName weather weather" "news news dateTime dateTime" "news news cityPhoto cityPhoto" "news news cityPhoto cityPhoto";
  }
}

@media (max-width: 768px) {
  .dashboardWrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 160px 150px 150px 150px minmax(800px, 1fr);
        grid-template-rows: 160px 150px 150px 150px minmax(800px, 1fr);
        grid-template-areas: "cityName" "cityPhoto" "weather" "dateTime" "news";
    min-height: 100%;
  }
}

@media (max-width: 500px) {
  .dashboardWrapper {
    -ms-grid-rows: 180px 150px 150px 150px minmax(800px, 1fr);
        grid-template-rows: 180px 150px 150px 150px minmax(800px, 1fr);
    padding: 0;
    grid-gap: 20px;
  }
}

.dashboardWrapper a {
  text-decoration: none;
  color: #000;
  padding: 12px;
}

.dashboardWrapper .cityName {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cityName;
}

.dashboardWrapper .news {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: news;
}

.dashboardWrapper .weather {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: weather;
}

.dashboardWrapper .dateTime {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: dateTime;
}

.dashboardWrapper .cityPhoto {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: cityPhoto;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cityName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: lowercase;
  font-family: "Campton Medium", sans-serif;
}

.cityName h2 {
  font-size: 4.5rem;
  -webkit-text-stroke: 1px #000;
  color: transparent;
}

@media (max-width: 1080px) {
  .cityName h2 {
    font-size: calc(3.2rem + (45 - 32) * (100vw - 320px) / (1080 - 320));
  }
}

@media (max-width: 670px) {
  .cityName h2 {
    font-size: 4rem;
  }
}

.cityName h3 {
  display: block;
  margin-top: -1rem;
  font-size: 5rem;
  color: #000;
  -webkit-text-stroke: none;
  line-height: 1;
  margin-top: 1px;
}

@media (max-width: 1080px) {
  .cityName h3 {
    font-size: calc(3.2rem + (50 - 32) * (100vw - 320px) / (1080 - 320));
  }
}

@media (max-width: 670px) {
  .cityName h3 {
    font-size: 4rem;
  }
}

.cityName h3 span {
  position: relative;
  z-index: 10;
  margin-right: 10px;
  display: inline-block;
}

.cityName h3 span::after {
  content: "";
  display: block;
  width: 110%;
  height: 48%;
  background: #bad8ca;
  position: absolute;
  z-index: 0;
  mix-blend-mode: multiply;
  top: 62%;
  left: -3%;
}

.news {
  overflow-y: auto;
  padding: 20px;
  background: #dbdbdb;
}

@media (max-width: 768px) {
  .news {
    overflow-y: visible;
  }
}

@media (max-width: 500px) {
  .news {
    overflow-y: auto;
  }
}

.news h4 {
  font-family: "Campton Semibold", sans-serif;
  font-size: 1.8rem;
}

@media (max-width: 670px) {
  .news h4 {
    text-align: center;
  }
}

.news .newsArticleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news .singleArticle {
  cursor: pointer;
  width: 50%;
  border-top: 1px solid black;
}

@media (max-width: 800px) {
  .news .singleArticle {
    width: 100%;
  }
}

.news .singleArticle h5 {
  font-size: 1.4rem;
  margin: 0.7rem 0;
}

.news .singleArticle p {
  font-size: 1.4rem;
}

.news .singleArticle p.articleDate {
  margin-bottom: 5px;
  color: grey;
}

.news .singleArticle p.articleAbstract {
  color: #404040;
  margin: 0 0 0.5rem;
}

.news .singleArticle .articleImage {
  max-height: 260px;
  overflow: hidden;
}

.news .singleArticle img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 670px) {
  .news .singleArticle img {
    max-height: 40%;
  }
}

.cityPopUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
}

.cityPopUp.visibilityChange {
  visibility: visible;
}

.cityListContainer {
  width: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .cityListContainer {
    width: 100%;
  }
}

.closeX {
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 100;
  font-size: 4.5rem;
  cursor: pointer;
  color: #000;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.closeX.zoomIn {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 600px) {
  .closeX.zoomIn {
    -webkit-transform: scale(1) translate(-50%);
            transform: scale(1) translate(-50%);
    color: #e7e6e6;
    top: auto;
    bottom: -70px;
    left: 50%;
  }
}

@media (max-width: 320px) {
  .closeX.zoomIn {
    bottom: -63px;
  }
}

.closeX.zoomIn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 600px) {
  .closeX.zoomIn:hover {
    -webkit-transform: scale(1.2) translate(-50%);
            transform: scale(1.2) translate(-50%);
  }
}

.cityList {
  width: 100%;
  max-height: 75vh;
  background: #e7e6e6;
  padding: 2% 0 3%;
  border: 5px solid #e7e6e6;
  font-family: "Campton Medium", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.cityList.opacityChange {
  opacity: 1;
}

.cityList.opacityChange.fadeBlack {
  border-width: 0;
  background: transparent;
}

.cityList li {
  font-size: 6rem;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (max-width: 1280px) {
  .cityList li {
    font-size: calc(2.4rem + (60 - 24) * (100vw - 320px) / (1280 - 320));
  }
}

.cityList li.fadeOutCity a {
  opacity: 0;
}

.cityList li.selectedCity a {
  cursor: default;
  color: #e7e6e6;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  opacity: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-text-stroke-width: 0;
}

.cityList a {
  color: transparent;
  font-family: "Campton Medium", sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
  text-transform: lowercase;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-text-stroke: 1.4px #000;
  position: relative;
}

@media (max-width: 1280px) {
  .cityList a {
    font-size: calc(3.2rem + (60 - 32) * (100vw - 320px) / (1280 - 320));
  }
}

.cityList a:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #000;
}

.cityList a:hover::after {
  content: '';
  display: block;
  width: 110%;
  height: 48%;
  background: #BAD8CA;
  position: absolute;
  mix-blend-mode: multiply;
  top: 62%;
  left: -3%;
}

.dateTime {
  background: #dbdbdb;
  font-size: calc(1.2rem + (14 - 12) * (100vw - 350px) / (1280 - 350));
  text-transform: lowercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dateTime div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .dateTime div {
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.dateTime div:nth-of-type(1) {
  color: #000;
}

@media (max-width: 1000px) {
  .dateTime > div {
    height: 50%;
  }
}

@media (max-width: 1000px) {
  .dateTime > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 100%;
  }
}

.dateTime > div:first-child > * {
  width: 100%;
}

.dateTime .date {
  font-size: calc(1.6rem + (20 - 16) * (100vw - 900px) / (1280 - 900));
}

.dateTime h4 {
  font-size: 1.8rem;
}

.dateTime .time {
  font-size: calc(3.2rem + (60 - 32) * (100vw - 320px) / (1280 - 320));
  color: transparent;
  font-family: "Campton Medium", sans-serif;
  opacity: 1;
  -webkit-text-stroke: 1.4px #000;
  padding-bottom: 5%;
}

.weather,
.dateTime {
  width: 100%;
  padding: 9% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (max-width: 1000px) {
  .weather,
  .dateTime {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .weather,
  .dateTime {
    padding: 5% 0;
  }
}

.weather {
  margin-right: 30px;
  background: #d4e7de;
  font-size: 1.6rem;
}

.weather > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .weather > div {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%;
  }
}

.weather h4 {
  color: #000;
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  .weather .temp-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}

@media (max-width: 768px) {
  .weather .temp-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%;
  }
}

@media (max-width: 500px) {
  .weather .temp-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
  }
}

.weather .temperature {
  font-size: calc(3.2rem + (60 - 32) * (100vw - 320px) / (1280 - 320));
  color: transparent;
  font-family: "Campton Medium", sans-serif;
  opacity: 1;
  -webkit-text-stroke: 1.4px #000;
}

.weather .weatherIcon {
  max-width: 30%;
  min-width: 100px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .weather .weatherIcon {
    min-width: 80px;
    max-width: 20%;
  }
}

@media (max-height: 650px) {
  .weather .weatherIcon {
    min-width: 60px;
    max-width: 20%;
  }
}

@media (max-width: 768px) {
  .weather .weatherIcon {
    max-width: 60px;
    max-width: 15%;
  }
}

.weather div:nth-of-type(3) h3 {
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  .weather .sun-times {
    padding: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */