@font-face {
  font-family: 'Campton Medium';
  src: url("assets/fonts/campton-medium/Campton-Medium.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/campton-medium/Campton-Medium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/campton-medium/Campton-Medium.woff2") format("woff2"), url("assets/fonts/campton-medium/Campton-Medium.woff") format("woff"), url("assets/fonts/campton-medium/Campton-Medium.ttf") format("truetype"), url("assets/fonts/campton-medium/Campton-Medium.svg#Campton-Medium") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Campton Semibold';
  src: url("assets/fonts/campton-semibold/Campton-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/campton-semibold/Campton-SemiBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/campton-semibold/Campton-SemiBold.woff2") format("woff2"), url("assets/fonts/campton-semibold/Campton-SemiBold.woff") format("woff"), url("assets/fonts/campton-semibold/Campton-SemiBold.ttf") format("truetype"), url("assets/fonts/campton-semibold/Campton-SemiBold.svg#Campton-SemiBold") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Campton Bold';
  src: url("assets/fonts/campton-bold/Campton-Bold.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/campton-bold/Campton-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/campton-bold/Campton-Bold.woff2") format("woff2"), url("assets/fonts/campton-bold/Campton-Bold.woff") format("woff"), url("assets/fonts/campton-bold/Campton-Bold.ttf") format("truetype"), url("assets/fonts/campton-bold/Campton-Bold.svg#Campton-Bold") format("svg");
  /* Legacy iOS */
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
div,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  font-family: "Campton Medium", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
  text-align: center;
  -webkit-transition: background 0.7s;
  transition: background 0.7s;
}

header .wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 480px) {
  header .wrapper {
    width: 90%;
  }
}

header h1 {
  font-family: "Campton Medium", sans-serif;
  font-size: 4.5em;
  letter-spacing: 1px;
  color: #E7E6E6;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  position: relative;
  top: 0;
  -webkit-transition: font-size 0.3s ease-out, top 0.6s 0.3s ease-out;
  transition: font-size 0.3s ease-out, top 0.6s 0.3s ease-out;
}

@media (max-width: 1280px) {
  header h1 {
    font-size: calc(2.6rem + (48 - 26) * (100vw - 320px) / (1280 - 320));
  }
}

@media (max-width: 480px) {
  header h1 {
    margin-bottom: 0;
  }
}

header h1.shiftUp {
  position: relative;
  top: -33%;
  font-size: 2.8rem;
  font-family: "Campton Medium", sans-serif;
}

@media (max-width: 1080px) {
  header h1.shiftUp {
    top: -35%;
  }
}

@media (max-width: 768px) {
  header h1.shiftUp {
    top: -36%;
  }
}

@media (max-width: 480px) {
  header h1.shiftUp {
    font-size: 2rem;
  }
}

header h1.transparent {
  -webkit-text-stroke: 1px #E7E6E6;
  color: transparent;
  font-family: "Campton Bold", sans-serif;
}

header form {
  width: 100%;
}

header input[type="text"] {
  width: 80%;
  border: 0;
  padding-bottom: 30px;
  background: transparent;
  border-bottom: 2px solid transparent;
  font-family: "Campton Bold", sans-serif;
  font-size: 10rem;
  letter-spacing: 1.5px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px #94d3b4;
  text-transform: lowercase;
  caret-color: #E7E6E6;
  -webkit-transition: border-bottom 0.3s, padding-bottom 0.3s;
  transition: border-bottom 0.3s, padding-bottom 0.3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@media (max-width: 1280px) {
  header input[type="text"] {
    font-size: calc(3.2rem + (100 - 32) * (100vw - 320px) / (1280 - 320));
  }
}

@media (max-width: 980px) {
  header input[type="text"] {
    width: 90%;
  }
}

@media (max-width: 480px) {
  header input[type="text"] {
    font-family: "Campton Semibold", sans-serif;
    width: 100%;
    color: #E7E6E6;
    -webkit-text-stroke-width: 0;
  }
}

header input[type="text"]::-webkit-input-placeholder {
  color: transparent;
  opacity: 0.5;
}

header input[type="text"]:-ms-input-placeholder {
  color: transparent;
  opacity: 0.5;
}

header input[type="text"]::-ms-input-placeholder {
  color: transparent;
  opacity: 0.5;
}

header input[type="text"]::placeholder {
  color: transparent;
  opacity: 0.5;
}

@media (max-width: 480px) {
  header input[type="text"]::-webkit-input-placeholder {
    color: #E7E6E6;
    opacity: 0.5;
    width: 100%;
  }
  header input[type="text"]:-ms-input-placeholder {
    color: #E7E6E6;
    opacity: 0.5;
    width: 100%;
  }
  header input[type="text"]::-ms-input-placeholder {
    color: #E7E6E6;
    opacity: 0.5;
    width: 100%;
  }
  header input[type="text"]::placeholder {
    color: #E7E6E6;
    opacity: 0.5;
    width: 100%;
  }
}

header input[type="text"]:focus {
  border-color: #E7E6E6;
  padding-bottom: 2px;
}

header input[type="button"] {
  width: 1%;
  font-size: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

header .searchHint {
  font-family: "Campton Medium", sans-serif;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

header .searchHint.showHint {
  opacity: 1;
}

header .searchHint.hideHint {
  opacity: 0;
}

.dashboard {
  background: white;
  color: #000;
  height: 100vh;
}

.dashboardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 100vh;
  margin: 0 auto;
}

.dashboardWrapper a {
  text-decoration: none;
  color: #000;
  padding: 12px;
}

@media (max-width: 670px) {
  .dashboardWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.dashboardLeft,
.dashboardRight {
  margin: 30px 15px 0;
  width: 50%;
  height: calc(100% - 30px);
}

@media (max-width: 670px) {
  .dashboardLeft,
  .dashboardRight {
    width: 100%;
    margin: 30px 0 0;
  }
}

.dashboardRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 670px) {
  .dashboardLeft {
    height: 90%;
  }
}

.cityPhoto {
  width: 100%;
  height: calc(50% - 15px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cityName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
  margin-bottom: 30px;
  text-transform: lowercase;
  font-family: "Campton Semibold", sans-serif;
}

@media (max-width: 670px) {
  .cityName {
    padding: 0 5%;
    margin-bottom: 15px;
  }
}

.cityName h2 {
  font-size: 4.5rem;
  -webkit-text-stroke: 1px #000;
  color: transparent;
}

@media (max-width: 1080px) {
  .cityName h2 {
    font-size: calc(3.2rem + (45 - 32) * (100vw - 320px) / (1080 - 320));
  }
}

@media (max-width: 670px) {
  .cityName h2 {
    font-size: 4rem;
  }
}

.cityName h3 {
  display: block;
  margin-top: -1rem;
  font-size: 5rem;
  color: #000;
  -webkit-text-stroke: none;
  line-height: 1;
  margin-top: 1px;
}

@media (max-width: 1080px) {
  .cityName h3 {
    font-size: calc(3.2rem + (50 - 32) * (100vw - 320px) / (1080 - 320));
  }
}

@media (max-width: 670px) {
  .cityName h3 {
    font-size: 4rem;
  }
}

.cityName h3 span {
  position: relative;
  z-index: 10;
  margin-right: 10px;
  display: inline-block;
}

.cityName h3 span::after {
  content: '';
  display: block;
  width: 110%;
  height: 48%;
  background: #BAD8CA;
  position: absolute;
  z-index: 0;
  mix-blend-mode: multiply;
  top: 62%;
  left: -3%;
}

.news {
  overflow-y: auto;
  height: calc(70% - 30px);
  padding: 20px;
  background: #e8e8e8;
}

.news h4 {
  font-family: "Campton Semibold", sans-serif;
  font-size: 1.8rem;
}

.news .newsArticleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news .singleArticle {
  cursor: pointer;
  width: 50%;
  border-top: 1px solid black;
}

@media (max-width: 800px) {
  .news .singleArticle {
    width: 100%;
  }
}

.news .singleArticle h5 {
  font-size: 1.4rem;
  margin: 0.7rem 0;
}

.news .singleArticle p {
  font-size: 1.4rem;
}

.news .singleArticle p.articleDate {
  margin-bottom: 5px;
  color: grey;
}

.news .singleArticle p.articleAbstract {
  color: #404040;
  margin: 0 0 0.5rem;
}

.news .singleArticle img {
  max-height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 670px) {
  .news .singleArticle img {
    max-height: 40%;
  }
}

.cityPopUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
}

.cityPopUp.visibilityChange {
  visibility: visible;
}

.cityListContainer {
  width: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .cityListContainer {
    width: 100%;
  }
}

.closeX {
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 100;
  font-size: 4.5rem;
  cursor: pointer;
  color: #000;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.closeX.zoomIn {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 600px) {
  .closeX.zoomIn {
    -webkit-transform: scale(1) translate(-50%);
            transform: scale(1) translate(-50%);
    color: #E7E6E6;
    top: auto;
    bottom: -70px;
    left: 50%;
  }
}

@media (max-width: 320px) {
  .closeX.zoomIn {
    bottom: -63px;
  }
}

.closeX.zoomIn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 600px) {
  .closeX.zoomIn:hover {
    -webkit-transform: scale(1.2) translate(-50%);
            transform: scale(1.2) translate(-50%);
  }
}

.cityList {
  width: 100%;
  max-height: 75vh;
  background: #E7E6E6;
  padding: 2% 0 3%;
  border: 5px solid #E7E6E6;
  font-family: "Campton Semibold", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.cityList.opacityChange {
  opacity: 1;
}

.cityList.opacityChange.fadeBlack {
  border-width: 0;
  background: transparent;
}

.cityList li {
  font-size: 6rem;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (max-width: 1280px) {
  .cityList li {
    font-size: calc(2.4rem + (60 - 24) * (100vw - 320px) / (1280 - 320));
  }
}

.cityList li.fadeOutCity a {
  opacity: 0;
}

.cityList li.selectedCity a {
  cursor: default;
  color: #E7E6E6;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  opacity: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-text-stroke-width: 0;
}

.cityList a {
  color: transparent;
  font-family: "Campton Semibold", sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
  text-transform: lowercase;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-text-stroke: 1.4px #000;
  position: relative;
}

@media (max-width: 1280px) {
  .cityList a {
    font-size: calc(3.2rem + (60 - 32) * (100vw - 320px) / (1280 - 320));
  }
}

.cityList a:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #000;
}

.cityList a:hover::after {
  content: '';
  display: block;
  width: 110%;
  height: 48%;
  background: #BAD8CA;
  position: absolute;
  mix-blend-mode: multiply;
  top: 62%;
  left: -3%;
}

.dateTime {
  font-size: calc(1.2rem + (14 - 12)*(100vw - 350px)/(1280 - 350));
  text-transform: lowercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .dateTime {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2rem;
  }
}

.dateTime div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .dateTime div {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.dateTime div:nth-of-type(1) {
  color: #000;
}

@media (max-width: 900px) {
  .dateTime div:nth-of-type(1) {
    height: 100%;
  }
}

@media (max-width: 900px) {
  .dateTime div:nth-of-type(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dateTime .date {
  font-size: calc(1.6rem + (20 - 16)*(100vw - 900px)/(1280 - 900));
}

@media (max-width: 900px) {
  .dateTime .date {
    font-size: 1.6rem;
  }
}

.dateTime h4 {
  font-size: 1.8rem;
}

.dateTime .time {
  font-size: calc(4rem + (60 - 40)*(100vw - 900px)/(1280 - 900));
  color: transparent;
  font-family: "Campton Semibold", sans-serif;
  opacity: 1;
  -webkit-text-stroke: 1.4px #000;
}

@media (max-width: 900px) {
  .dateTime .time {
    font-size: 4rem;
  }
}

.weather,
.dateTime {
  width: calc(50% - 15px);
  height: calc(50% - 15px);
  margin-bottom: 30px;
  padding: 5% 0;
  background: #DBDBDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (max-width: 900px) {
  .weather,
  .dateTime {
    width: calc(100%);
    height: calc(25% - 30px);
    padding: 0 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 670px) {
  .weather,
  .dateTime {
    height: calc(50% - 15px);
  }
}

.weather {
  margin-right: 30px;
  background: #d4e7de;
  font-size: 1.6rem;
}

@media (max-width: 900px) {
  .weather {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0;
  }
}

.weather h4 {
  color: #000;
  margin-bottom: 5px;
}

.weather div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) {
  .weather div {
    width: calc(100% / 3);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.weather .temperature {
  font-size: calc(4rem + (60 - 40)*(100vw - 900px)/(1280 - 900));
  color: transparent;
  font-family: "Campton Semibold", sans-serif;
  opacity: 1;
  -webkit-text-stroke: 1.4px #000;
}

@media (max-width: 900px) {
  .weather .temperature {
    font-size: 4rem;
  }
}

.weather .weatherIcon {
  -o-object-fit: cover;
     object-fit: cover;
  height: 25%;
  padding: 0 25%;
}

.weather .weatherIcon img {
  height: 100%;
}

@media (max-width: 900px) {
  .weather .weatherIcon {
    height: 100%;
    padding: 20px;
  }
}

.weather div:nth-of-type(3) h3 {
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .weather div:nth-of-type(3) p {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */